@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: regular;
  src: url("/fonts/bentonsansregular.otf");
}

@layer base {
  a {
    @apply cursor-pointer text-primary hover:opacity-75;
  }
  p {
    @apply mb-4;
  }
  input {
    @apply p-2 m-4 border-solid border-grey border;
  }
  button {
    @apply bg-primary p-2 cursor-pointer text-white w-min  hover:opacity-80;
  }
  strong {
    @apply text-primary;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: regular;
  box-sizing: border-box;
}

.button {
  background-color: rgb(229, 255, 240);
  border-radius: 12px;
  padding: 22.5px 40.5px;
  color: rgb(34, 34, 34);
  cursor: pointer;

  border: 2px solid black;
}

.button:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: rgb(34, 34, 34) 2px 2px 0px 0px;
}

.highlight {
  color: #cc6666;
  padding: 5px 10px;
  letter-spacing: 4px;
}

.highlight--secondary {
  background-color: #cc6666;
  padding: 3px 6px;
  color: white;
}

.bottom-line {
  padding-top: 0.5rem;
  width: 1.2rem;
  border-bottom: 0.2rem solid #cc6666;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  position: absolute;
}

.work-bottom-line {
  /* padding-top: 3rem; */
  width: 1.2rem;
  border-bottom: 0.2rem solid #cc6666;
}

.menu-item-name:hover + .bottom-line {
  visibility: visible;
  opacity: 1;
}

.subscribe-form > button {
  margin: 1rem;
  width: fit-content;
}

button {
  width: fit-content;
}
